<!doctype html>
<html>
    <head>    
        
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <meta name="title" content="ClickClickBankBank" />
        <meta name="description" content="Monitor all your Amazon Affiliate Links in one place" />
        <meta property="og:title" content="ClickClickBankBank" />
        <meta property="og:description" content="Monitor all your Amazon Affiliate Links in one place" />
        <meta property="og:image" content="static/images/facebook.jpg" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@clickclickbkbk">
        <meta name="twitter:title" content="ClickClickBankBank">
        <meta name="twitter:description" content="Monitor all your Amazon Affiliate Links in one place.">
        <meta name="twitter:image" content="/images/twitter.jpg">
        <link rel="shortcut icon" type="image/x-icon" href="/images/ccbb50.ico" />
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149256903-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-149256903-1');
        </script>
        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '686881178461805');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=686881178461805&ev=PageView&noscript=1"/></noscript>
        <!-- End Facebook Pixel Code -->
    </head>
    <body>
        
        <div id="page" class="site palette-{{ .Site.Params.palette }}">
          {{ partial "header.html" . }}
          <main id="content" class="site-content">
            {{ block "content" . }}{{ end }}
          </main><!-- .site-content -->
          {{ partial "footer.html" . }}
        </div><!-- .site -->
        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/init.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
        <script defer id="io.birdseed.script-tag" type="text/javascript" src="https://app.birdseed.io/widget.js"></script><div id="birdseed-widget-container" data-token="f981422f6514e5ce356df67cc2747849"></div>
        <script type="text/javascript" src="https://static.leaddyno.com/js"></script> <script> LeadDyno.domain = "clickclickbankbank.com"; LeadDyno.key = "5f4fb451ff30787c866bb3bba0c7348416b9ed98"; LeadDyno.recordVisit(); LeadDyno.autoWatch(); </script>
    </body> 
</html>
